{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/tabla.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>
<body>
   <main>
     <p>
        Juego Tic Tac Toe.
     </p>
        <section id="contenedor-principal">
           {% for fila in tablero %}
                <ul>
                    <li id="posiciones">
                        {% for i in rango %}
                            <button data-pos="{{fila|index:i}}" id="bto" onclick="miclick('{{fila|index:i}}')">
                            </button>
                        {% endfor %}
                    </li>
                </ul>
            {% endfor %}
        </section>
   </main>
</body>
<script>
  const staticUrl = "{% static '' %}";
</script>
<script src="{% static 'js/estiloAlert.js'%}"></script>
</html>